@import url('https://fonts.googleapis.com/css2?family=Unlock&display=swap');

* {
  margin: 0;
  padding: 0;
  user-select: none;
}

::-webkit-scrollbar-track {
    background-color: #b0b0b02e;
}
::-webkit-scrollbar {
    width: 6px;
    background: #cdcdcd2d;
}
::-webkit-scrollbar-thumb {
    background: #7408c696;
}


body {
  display: flex;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(233, 233, 233);
}

.title_section {
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(red 15%, yellow);
  -webkit-background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.title{
  font-family: "Unlock", serif;
  word-spacing: 20px;
  letter-spacing: 4px;
  font-size: 2em;
  color: white;
  background-clip: text;
  display: flex;
}

.box{
  border: 1px solid white;
  height: 20em;
  margin: auto;
  overflow-y: scroll;
  top: 0;
  background-color: rgba(0, 0, 0, 0.9);
  font-size: .9em;
  letter-spacing: .3em;
  text-align: left;
  line-height: 1.5em;
  margin: 20px 0;
  padding: 10px 15px;
  display: flex;
  flex-direction: column;
  gap: 2em;
}


.controls {
  display: flex;
  gap: 0.4em;
  font-weight: bold;
}

main {
  position: relative;
  display: flex;
  align-items: end;
}

#game {
  border: solid 1px gray;
  height: 80vh;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
}

#dotPoint {
  border: solid 1px gray;
  position: absolute;
  left: -2em;
  bottom: 5em;
  border-radius: 15px;
}

.pointsScore {
  background: linear-gradient(rgba(60, 60, 180, 0.8), rgba(16, 16, 71, 0.8));
  color: white;
  position: absolute;
  bottom: 3.8em;
  display: flex;
  left: -3.5em;
  justify-content: center;
  align-items: center;
  width: 3.5em;
  border-top-left-radius: 1em;
  border-bottom-left-radius: 1em;
}

.controls div {
  width: 2.9rem;
  height: 2.9rem;
  background-color: rgb(114, 114, 114);
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(0, 0, 0);
  border-radius: 50%;
}

#progressMatch {
  position: absolute;
  right: -1em;
  top: 0;
  width: 1em;
  height: 100%;
  border: 1px solid grey;
}

#green {
  background-color: green;
}
#red {
  background-color: red;
}
#yellow {
  background-color: yellow;
}
#blue {
  background-color: blue;
}
#orange {
  background-color: orange;
}

.main_game {
  position: relative;
  background: url(images/Leonardo_Phoenix_A_colorful_illustration_of_a_customized_Guita_3.jpg)
    center center;
  background-size: cover;
  height: 80vh;
  width: 340px;
  animation: guitarcenter 1s forwards;
}

.config_note_wallpaper {
  background: url(images/Leonardo_Phoenix_A_colorful_illustration_of_a_customized_Guita_0.jpg)
    center left 30%;
  background-size: cover;
  transition: 1s;
  animation: guitarleft 1s forwards;
}

.config_game_wallpaper {
  background: url(images/Leonardo_Phoenix_A_colorful_illustration_of_a_customized_Guita_2.jpg);
  background-size: cover;
  animation: guitarleft2 1s forwards;
}

.config_about_wallpaper {
  background: url(images/Leonardo_Phoenix_A_sleek_electric_guitar_lies_horizontally_on_0.jpg) center center;
  background-size: cover;
}

.config_dificulty_wallpaper{
  background: url(images/Leonardo_Phoenix_A_colorful_illustration_of_a_customized_Guita_1.jpg) center center;
  background-size: cover;
  animation:  guitarleft2 1s reverse;
}



@keyframes guitarcenter {
   0% {
    background-size: 800%;
   }

   100% {
    background-size: 200%;
   }
}

@keyframes guitarleft {
  0% {
    background-position: 60%;
  }

  100% {
    background-position: 0%;
  }
}

@keyframes guitarleft2 {
  0% {
    background-position: 60%;
  }

  100% {
    background-position: 80%;
  }
}

.main_game_section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;
  height: 100%;
}

.btn {
  background-color: #6a3de7;
  color: white;
  border: 0 solid #e5e7eb;
  box-sizing: border-box;
  display: flex;
  font-family: ui-sans-serif, system-ui, -apple-system, system-ui, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 1rem;
  font-weight: 700;
  justify-content: center;
  line-height: 1.75rem;
  padding: 0.75rem 1.65rem;
  position: relative;
  text-align: center;
  text-decoration: none #000000 solid;
  text-decoration-thickness: auto;
  width: 80%;
  max-width: 460px;
  position: relative;
  cursor: pointer;
  transform: rotate(-2deg);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.btn_options {
  background-color: #ac1e1e;
  color: white;
}

.btn_about {
  background-color: black;
  color: white;
}

.btn:focus {
  outline: 0;
}

.btn:after {
  content: "";
  position: absolute;
  border: 1px solid #000000;
  bottom: 4px;
  left: 4px;
  width: calc(100% - 1px);
  height: calc(100% - 1px);
}

.btn:hover:after {
  bottom: 2px;
  left: 2px;
}

@media (min-width: 768px) {
  .btn {
    padding: 0.75rem 3rem;
    font-size: 1.25rem;
  }
}

.circle {
  width: 10%;
  border-radius: 20%;
}

.circle::after {
  border-radius: 20%;
}

.active::after {
  border: 5px solid;
  border-color: #ffffff;
  bottom: 0;
  left: 0;
  transform: 0;
  transform: rotate(-2deg);
  width: 100%;
  height: 80%;
  transition: 1s;
}

.textinfo {
  color: white;
  font-weight: bold;
  text-shadow: 1px 1px 2px black;
  letter-spacing: 4px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.goback *{
  width: 100px;
  font-size: 20px;
}

.visible{
  opacity: 0;
}

.scoreEnd{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
}

.scoreEnd div {
  background-color: #161516;
  color: white;
  width: 80%;
  padding: .3em;
  border-radius: .5em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5em;
  font-size: 1.4em;
}


.velocity{
  width: 80%;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: .8em;
  background-color: #0d0d0e;
  border-radius: .4em;
}

.velocity p {
  padding: .5em;
}

input[type="range"] {
  -webkit-appearance: none;
  appearance: none;
  background: transparent;
  cursor: pointer;
}


input[type="range"]:focus {
  outline: none;
}


input[type="range"]::-webkit-slider-runnable-track {
  background: linear-gradient(120deg,#e73d3d,#c9bd1c,#13a35b);
  border-radius: 0.5rem;
  height: 0.5rem;
}


input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none; 
  appearance: none;
  margin-top: -4px; 
  background-color: white;
  border-radius: 0.5rem;
  height: 1rem;
  width: 1rem;
}

input[type="range"]:focus::-webkit-slider-thumb {
  outline: 3px solid white;
  outline-offset: 0.125rem;
}

input[type="range"]::-moz-range-track {
  background-color: linear-gradient(120deg,#e73d3d,#c9bd1c,#13a35b);
  border-radius: 0.5rem;
  height: 0.5rem;
}


input[type="range"]::-moz-range-thumb {
  background-color: white;
  border: none; 
  border-radius: 0.5rem;
  height: 1rem;
  width: 1rem;
}

input[type="range"]:focus::-moz-range-thumb{
  outline: 3px solid white;
  outline-offset: 0.125rem;
}
