*{
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(233, 233, 233);

}

.controls {
    display: flex;
    gap: .4em;
    font-weight: bold;
}

canvas{
    border: solid 1px gray;
    height: 80vh;
    box-shadow: 0px 0px 20px rgba(0, 0, 0,0.5);
}


.controls div {
    width: 2.9rem;
    height: 2.9rem;
    background-color: rgb(114, 114, 114);
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(0, 0, 0);
    border-radius: 50%;
  
}

#green{
    background-color: green;
}
#red{
    background-color: red;
}
#yellow{
    background-color: yellow;
}
#blue{
    background-color: blue;
}
#orange{
    background-color: orange;
}
